<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Panel5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>pushSmppConnects</servlet-name>
    <jsp-file>/pushSmppConnects.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>pushSmppConnects</servlet-name>
    <url-pattern>/pushSmppConnects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>apiEmail</servlet-name>
    <jsp-file>/apiEmail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>apiEmail</servlet-name>
    <url-pattern>/apiEmail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ChangeExcel</servlet-name>
    <jsp-file>/ChangeExcel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeExcel</servlet-name>
    <url-pattern>/ChangeExcel</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ChangeExcel2</servlet-name>
    <jsp-file>/ChangeExcel2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeExcel2</servlet-name>
    <url-pattern>/ChangeExcel2</url-pattern>
  </servlet-mapping>
</web-app>